<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="mailto"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="tel"/>
        </intent>
    </queries>
    <application android:label="BoomBet" android:name="${applicationName}" android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <!-- Flutter theme -->
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- 🔥 CONFIRM EMAIL - HTTP Links (desde el email) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="example.com" android:pathPrefix="/confirm"/>
                <data android:scheme="http" android:host="192.168.0.8" android:pathPrefix="/confirm"/>
                <data android:scheme="http" android:host="10.0.2.2" android:pathPrefix="/confirm"/>
            </intent-filter>

            <!-- 🔥 CONFIRM EMAIL - Esquema boombet -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="boombet" android:host="confirm"/>
            </intent-filter>

            <!-- 🔥 RESET PASSWORD - HTTP Links (desde el email) -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="example.com" android:pathPrefix="/reset-password"/>
                <data android:scheme="http" android:host="192.168.0.8" android:pathPrefix="/reset-password"/>
                <data android:scheme="http" android:host="10.0.2.2" android:pathPrefix="/reset-password"/>
            </intent-filter>

            <!-- 🔥 RESET PASSWORD - Custom Scheme boombet:// -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="boombet" android:host="reset-password"/>
            </intent-filter>

            <!-- 🔥 ROULETTE - Custom Scheme boombet://roulette -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="boombet" android:host="roulette"/>
            </intent-filter>
        </activity>

        <activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data android:name="flutterEmbedding" android:value="2" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="true"/>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="true"/>
    </application>
</manifest>