name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Flutter Build Web
        run: |
          flutter build web --release \
            --dart-define=API_HOST=${{ secrets.API_HOST }} \
            --dart-define=API_SCHEME=${{ secrets.API_SCHEME }} \
            --dart-define=API_PORT=${{ secrets.API_PORT }} \
            --dart-define=IMAGE_PROXY_BASE=${{ secrets.IMAGE_PROXY_BASE }} \
            --dart-define=VIDEO_PROXY_BASE=${{ secrets.VIDEO_PROXY_BASE }} \
            --dart-define=USERDATA_KEY=${{ secrets.USERDATA_KEY }}

      # --- IMPORTANTE: Copiar la configuración a la carpeta de salida ---
      - name: Copy Config
        run: cp staticwebapp.config.json build/web/staticwebapp.config.json

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_JOLLY_WAVE_08B19C91E }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          
          ###### CONFIGURACIÓN CORREGIDA ######
          # Como ya compilamos, la 'app' es la carpeta de salida
          app_location: "build/web" 
          api_location: "" 
          output_location: "" # Se deja vacío porque app_location ya contiene los archivos finales
          skip_app_build: true
          skip_api_build: true
          ###### Fin de configuración ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_JOLLY_WAVE_08B19C91E }}
          action: "close"
